*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --color-yellow: hsl(47, 88%, 63%);
    --color-gray-950: hsl(0, 0%, 7%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-white: hsl(0, 0%, 100%);
}

body{
    background-color: var(--color-yellow);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    color: var(--color-gray-500);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Styling blog card*/
.blog-preview-card{
    width: 384px; /*This is the width of the container*/
    max-width: 90%; /*This rapresent the width in which if the screen become smaller and smaller the size of the container will only take 90% ofthe screen*/
    height: auto;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #111;
    border-radius: 20px;
    box-shadow: 5px 5px 0px #111;
    transition: box-shadow 0.3s ease-in-out;
}

img{
    max-width: 100%;
    /*display: block;*/
}

.card-image img{
    border-radius: 10px;
   
}

.card-content{
    padding-top: 10px;
    line-height: 1.6;    
}


/*Styling the content inside the card*/
.category span{
    background-color: var(--color-yellow);
    border-radius: 5px;
    padding:  5px 12px;
    font-weight: 800;
    font-size: 0.875em;
    color: var(--color-gray-950);
}

.pubblish-date {
    font-size: 0.875em;
    margin: 8px 0;
    color: var(--color-gray-950);
}

h2{
    font-size: 1.5em;
    font-weight: 800;
    
}

a{
    text-decoration: none;
    color: var(--color-gray-950);
    
}

a:hover{
    color: var(--color-yellow)
}

/*styling the author avatar*/
.author{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--color-gray-950);
    font-weight: 800;
    padding-top: 10px;
}

.attribution{
    font-size: 1.125em;
}



